@{
    Layout = "~/Views/Shared/_LayoutPresentation.cshtml";
}


<section class="preloader">
    <div class="spinner">
        <span class="spinner-rotate"></span>
    </div>
</section>


<nav class="navbar navbar-expand-lg">
    <div class="container">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a href="#" class="navbar-brand mx-auto mx-lg-0">
            <img src="/Presentation/images/logo_studio_small.png" class="about-image img-fluid" alt="" style="width: 100px;height: 80px;">
        </a>

        <div class="d-flex align-items-center d-lg-none"> 
            <a class="custom-btn btn" href="@Url.Content("~/Login/Home")">
                Inicio Sesión
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-lg-5">
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_1">Inicio</a>
                </li>

                @*<li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_1">Portfolio</a>
                </li>*@

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_2">Servicios</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_3">Proyectos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_4">Contacto</a>
                </li>
            </ul>

            <div class="d-lg-flex align-items-center d-none ms-auto">
@*                <i class="navbar-icon bi-telephone-plus me-3"></i>*@
                <a class="custom-btn btn" href="@Url.Content("~/Login/Home")">
                    Inicio Sesión
                </a>
            </div>
        </div>

    </div>
</nav>


<main>

    <section class="hero d-flex justify-content-center align-items-center" id="section_1">
        <div class="container">
            <div class="row">

                <div class="col-lg-7 col-12">
                    <div class="hero-text">
                        <span class="mb-4 span-title">FILMACIÓN &amp; FOTOGRAFÍA</span>
                        <label class="mb-4 label-title">Anntony Fernandez</label>
                    </div>
                </div>

            </div>
        </div>

    </section>
      
    <section class="clients section-padding">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-12 col-12">
                    <h3 class="text-center mb-5">Companies I've had worked</h3>
                </div>

                <div class="col-lg-2 col-4 ms-auto clients-item-height">
                    <img src="/Presentation/images/clients/cachet.svg" class="clients-image img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-4 clients-item-height">
                    <img src="/Presentation/images/clients/guitar-center.svg" class="clients-image img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-4 clients-item-height">
                    <img src="/Presentation/images/clients/tokico.svg" class="clients-image img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-4 clients-item-height">
                    <img src="/Presentation/images/clients/shopify.svg" class="clients-image img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-4 me-auto clients-item-height">
                    <img src="/Presentation/images/clients/profil-rejser.svg" class="clients-image img-fluid" alt="">
                </div>

            </div>
        </div>
    </section>


    <section class="services section-padding" id="section_2">
        <div class="container">
            <div class="row">

                <div class="col-lg-10 col-12 mx-auto">
                    <div class="section-title-wrap d-flex justify-content-center align-items-center mb-5">
                        <img src="/Presentation/images/handshake-man-woman-after-signing-business-contract-closeup.jpg" class="avatar-image img-fluid" alt="">

                        <h2 class="text-white ms-4 mb-0">Servicios</h2>
                    </div>

                    <div class="row pt-lg-5">
                        <div class="col-lg-6 col-12">
                            <div class="services-thumb">
                                <div class="d-flex flex-wrap align-items-center border-bottom mb-4 pb-3">
                                    <h3 class="mb-0">Fotografía</h3>

                                    <div class="services-price-wrap ms-auto">
                                        <p class="services-price-text mb-0">S/***</p>
                                        <div class="services-price-overlay"></div>
                                    </div>
                                </div>

                                <p>Podrás obtener las mejores fotográfias a los mejores precios.</p>

                                <a href="#" class="custom-btn custom-border-btn btn mt-3">Saber más</a>

                                <div class="services-icon-wrap d-flex justify-content-center align-items-center">
                                    <i class="services-icon bi-camera"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="services-thumb services-thumb-up">
                                <div class="d-flex flex-wrap align-items-center border-bottom mb-4 pb-3">
                                    <h3 class="mb-0">Filmación</h3>

                                    <div class="services-price-wrap ms-auto">
                                        <p class="services-price-text mb-0">S/***</p>
                                        <div class="services-price-overlay"></div>
                                    </div>
                                </div>

                                <p>Grabación para todo tipo de eventos.</p>

                                <a href="#" class="custom-btn custom-border-btn btn mt-3">Saber más</a>

                                <div class="services-icon-wrap d-flex justify-content-center align-items-center">
                                    <i class="services-icon bi-record-btn"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="services-thumb">
                                <div class="d-flex flex-wrap align-items-center border-bottom mb-4 pb-3">
                                    <h3 class="mb-0">Diseño Gráfico</h3>

                                    <div class="services-price-wrap ms-auto">
                                        <p class="services-price-text mb-0">S/***</p>
                                        <div class="services-price-overlay"></div>
                                    </div>
                                </div>

                                <p>Si necesitas editar algun vídeo o fotograficas también realizamos todos tipo de edición.</p>

                                <a href="#" class="custom-btn custom-border-btn btn mt-3">Saber más</a>

                                <div class="services-icon-wrap d-flex justify-content-center align-items-center">
                                    <i class="services-icon bi-laptop"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="projects section-padding" id="section_3">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-md-8 col-12 ms-auto">
                    <div class="section-title-wrap d-flex justify-content-center align-items-center mb-4">
                        <img src="/Presentation/images/white-desk-work-study-aesthetics.jpg" class="avatar-image img-fluid" alt="">

                        <h2 class="text-white ms-4 mb-0">Proyectos</h2>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="projects-thumb">
                        <div class="projects-info">
                            <small class="projects-tag">Filmación</small>

                            <h3 class="projects-title">Eventos</h3>
                        </div>

                        <a href="/Presentation/images/projects/nikhil-KO4io-eCAXA-unsplash.jpg" class="popup-image">
                            <img src="/Presentation/images/projects/nikhil-KO4io-eCAXA-unsplash.jpg" class="projects-image img-fluid" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="projects-thumb">
                        <div class="projects-info">
                            <small class="projects-tag">Fotográfia</small>

                            <h3 class="projects-title">Eventos</h3>
                        </div>

                        <a href="/Presentation/images/projects/the-5th-IQYR7N67dhM-unsplash.jpg" class="popup-image">
                            <img src="/Presentation/images/projects/the-5th-IQYR7N67dhM-unsplash.jpg" class="projects-image img-fluid" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="projects-thumb">
                        <div class="projects-info">
                            <small class="projects-tag">Diseño Gráfico</small>

                            <h3 class="projects-title">Eventos</h3>
                        </div>

                        <a href="/Presentation/images/projects/true-agency-9Bjog5FZ-oc-unsplash.jpg" class="popup-image">
                            <img src="/Presentation/images/projects/true-agency-9Bjog5FZ-oc-unsplash.jpg" class="projects-image img-fluid" alt="">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="contact section-padding" id="section_4">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-8 col-12">
                    <div class="section-title-wrap d-flex justify-content-center align-items-center mb-5">
                        <img src="/Presentation/images/aerial-view-man-using-computer-laptop-wooden-table.jpg" class="avatar-image img-fluid" alt="">

                        <h2 class="text-white ms-4 mb-0">Contáctame</h2>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-lg-3 col-md-6 col-12 pe-lg-0">
                    <div class="contact-info contact-info-border-start d-flex flex-column">
                        <strong class="site-footer-title d-block mb-3">Servicios</strong>

                        <ul class="footer-menu">
                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Filmación</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Fotográfia</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Diseño Gráfico</a></li>
                        </ul>

                        <strong class="site-footer-title d-block mt-4 mb-3">Manténte conectado</strong>

                        <ul class="social-icon">
                            <li class="social-icon-item"><a href="https://twitter.com/minthu" class="social-icon-link bi-twitter"></a></li>

                            <li class="social-icon-item"><a href="#" class="social-icon-link bi-instagram"></a></li>

                            <li class="social-icon-item"><a href="#" class="social-icon-link bi-pinterest"></a></li>

                            <li class="social-icon-item"><a href="https://www.youtube.com/templatemo" class="social-icon-link bi-youtube"></a></li>
                        </ul>

                        <strong class="site-footer-title d-block mt-4 mb-3">Empieza a trabajar con nosotros</strong>

                        <p class="mb-0">Estamos disponibles para realizar todos nuestros servicios</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 ps-lg-0">
                    <div class="contact-info d-flex flex-column">
                        <strong class="site-footer-title d-block mb-3">Sobre Nosotros</strong>

                        <p class="mb-2">
                            Fotografía 📸 - Video 📹 - Diseño Gráfico💻
                            💪 Somos Otra Cosa Studios - Creciendo Contigo 😎
                        </p>

                        <strong class="site-footer-title d-block mt-4 mb-3">Correo</strong>

                        <p>
                            <a href="otracosastudios@gmail.com">
                                otracosastudios@gmail.com
                            </a>
                        </p>

                        <strong class="site-footer-title d-block mt-4 mb-3">Número</strong>

                        <p class="mb-0">
                            <a href="cel: +51 951 766 024">
                                +51 951 766 024
                            </a>
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                    <form action="#" method="get" class="custom-form contact-form" role="form">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-floating">
                                    <input type="text" name="name" id="name" class="form-control" placeholder="Name" required="">

                                    <label for="floatingInput">Nombre</label>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-floating">
                                    <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required="">

                                    <label for="floatingInput">Correo Electrónico</label>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-6">
                                <div class="form-check form-check-inline">
                                    <input name="website" type="checkbox" class="form-check-input" id="inlineCheckbox1" value="1">

                                    <label class="form-check-label" for="inlineCheckbox1">
                                        <i class="bi-record-btn"></i>
                                        <span class="form-check-label-text">Filmación</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-6">
                                <div class="form-check form-check-inline">
                                    <input name="branding" type="checkbox" class="form-check-input" id="inlineCheckbox2" value="1">

                                    <label class="form-check-label" for="inlineCheckbox2">
                                        <i class="bi-camera"></i>
                                        <span class="form-check-label-text">Fotográfia</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-6">
                                <div class="form-check form-check-inline">
                                    <input name="ecommerce" type="checkbox" class="form-check-input" id="inlineCheckbox3" value="1">

                                    <label class="form-check-label" for="inlineCheckbox3">
                                        <i class="bi-laptop"></i>
                                        <span class="form-check-label-text">Diseño Gráfico</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-lg-12 col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" id="message" name="message" placeholder="Tell me about the project"></textarea>

                                    <label for="floatingTextarea">Escribenos una pequeña descripción del servicio deseado</label>
                                </div>
                            </div>

                            <div class="col-lg-3 col-12 ms-auto">
                                <button type="submit" class="form-control">Enviar</button>
                            </div>

                        </div>
                    </form>
                </div>

            </div>
        </div>
        </div>
    </section>

</main>

















































