<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>Es Otra Cosa Studios</title>
    <link href="~/studio.ico" rel="shortcut icon" type="image/x-icon" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

    <link href="~/Presentation/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Presentation/css/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Presentation/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Presentation/css/presentation.css" rel="stylesheet" />

</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script src="~/Presentation/js/jquery.min.js"></script>
    <script src="~/Presentation/js/bootstrap.min.js"></script>
    <script src="~/Presentation/js/jquery.sticky.js"></script>
    <script src="~/Presentation/js/click-scroll.js"></script>
    <script src="~/Presentation/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Presentation/js/magnific-popup-options.js"></script>
    <script src="~/Presentation/js/custom.js"></script>
</body>
</html>
